

@font-face
{
	font-family: FerroRosso;
	src: url('../fonts/FerroRosso.ttf');
}

@font-face
{
	font-family: arbonnie;
	src: url('../fonts/arbonnie.ttf');
}

@font-face
{
	font-family: futura;
	src: url('../fonts/futura.ttf');
}




header {
	width: 96%;
	background-image: url('../imgs/header.png');
	background-color: grey;
	position: relative;
	overflow: hidden;
	padding: 8px 2%;
	margin-bottom: 30px;

	border: 1px black solid;
	-moz-box-shadow: 0px 9px 14px rgb(10, 10, 10);
	-webkit-box-shadow: 0px 9px 14px rgb(10, 10, 10);
	box-shadow: 0px 9px 14px rgb(10, 10, 10);

}

	header button {
		background-color: black;
		color: white;
		position: absolute;
		border: 4px solid rgb(135, 162, 140);
		padding: 15px 50px 15px 15px;
		top: 10px;
		right: -40px;

		-moz-border-radius: 20px;
		border-radius: 20px;

		transition: right 0.5s, background-color 0.5s;
		-moz-transition: right 0.5s, background-color 0.5s; /* Firefox 4 */
		-webkit-transition: right 0.5s, background-color 0.5s; /* Safari and Chrome */
		-o-transition: right 0.5s, background-color 0.5s; /* Opera */

	}

		header button:hover {
			
			right: -25px;
			background-color: rgb(8, 92, 8);
			cursor: pointer;
		}

		#debug-btn {
			z-index: 10;
		}

		#debug-btn-off {
			z-index: 9;
			padding-top: 10px;
			padding-bottom: 10px;
			top: 16px;
			transition: right 0.5s, background-color 0.5s;
			-moz-transition: right 0.5s, background-color 0.5s; /* Firefox 4 */
			-webkit-transition: right 0.5s, background-color 0.5s; /* Safari and Chrome */
			-o-transition: right 0.5s, background-color 0.5s; /* Opera */
		}

		#debug-btn-off:hover {
			background-color: rgb(128, 0, 26);
		}

body, h1, h2, h3, h4, p {
	margin: 0;
}

body {
	background-image: url('../imgs/page_bg.png');
}

h1 {
	color: white;
	text-align: center;
	font-family: FerroRosso;
	font-size: 60px;
}

h2 {
	font-family: arbonnie;
}

h3, h4, p, output {
	font-family: futura;
}

h3 {
	margin-bottom: 5px;
}

h4 {
	margin-bottom: 5px;
}

p {
	margin-bottom: 5px;
}

output {
	font-weight: 500;
	font-size: 20px;
	color: rgb(252, 192, 2);
}

#game-canvas {
	position: relative;
	margin: 0 auto 50px;
	width: 700px;
	height: 550px;
	border: 4px solid rgb(100, 99, 99);


}

#dead-zone {
	width: 700px;
	height: 50px;
	background-color: purple;
}
canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	background: transparent;
	
}

#background {
	z-index: -3;
	border: 1px solid black;
	background-color: black;
	background-image: url('../imgs/game_bg.png');
}
#main {
	z-index: -2;
}
#paddle {
	z-index: -1;
}
#debugcanvas{
	z-index: 0;
	opacity: 0;
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s; /* Firefox 4 */
	-webkit-transition: opacity 0.5s; /* Safari and Chrome */
	-o-transition: opacity 0.5s; /* Opera */
}

#debug-console {
	color: white;
	background-color: black;
	opacity: 0;
	position: fixed;
	right: -300px;
	top: 100px;

	transition: right 0.5s;
	-moz-transition: right 0.5s; /* Firefox 4 */
	-webkit-transition: right 0.5s; /* Safari and Chrome */
	-o-transition: right 0.5s; /* Opera */
}

	#debug-console > div {
		margin-bottom: 30px;
	}




	article {
		float: left;
		margin: 10px;
		border: 1px solid black;
		padding: 20px;
		width: 130px;
	}

	#mainball-debug {
		display: none;
	}

	.status-box {
		width: 15px;
		height: 15px;
		background-color: red;
		float: left;
		margin-right: 10px;
		margin-top: 8px;
	}

	#timer-debug {
		display: none;
	}

